@media (max-width: 768px) {
  body h1 {
    font-size: 26px !important;
  }
  body h2 {
    font-size: 26px !important;
  }
  body h3 {
    font-size: 22px !important;
  }
  body h4 {
    font-size: 20px !important;
  }
  body h5 {
    font-size: 18px !important;
  }
  body h6 {
    font-size: 16px !important;
    font-weight: 700;
  }
  body p {
    font-size: 15px !important;
  }
}

body .card ul {
  padding-left: 30px !important;
}

body h2 {
  font-family: "Mulish", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 26px;
}

body h1 {
  font-family: "Mulish", sans-serif;
  font-weight: 800;
  font-size: 30px;
  text-transform: uppercase;
}

body h6 {
  font-family: "Mulish", sans-serif;
  font-weight: 800;
  font-size: 18px;
}

body h3 {
  font-family: "Mulish", sans-serif;
  color: black;
  font-weight: 800;
  font-size: 24px;
  text-transform: uppercase;
}

body h4 {
  font-family: "Mulish", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 22px;
}

body h5 {
  font-family: "Mulish", sans-serif;
  font-weight: 800;
  font-size: 20px;
}

body li {
  font-size: 16px;
  font-family: "Sora", sans-serif;
}

nav a {
  font-size: 15px;
  font-family: "Sora", sans-serif;
}

p {
  font-size: 15px;
  font-family: "Sora", sans-serif;
  color: black;
}

td {
  font-size: 15px;
  font-family: "Sora", sans-serif;
}

th {
  font-size: 16px;
  font-family: "Sora", sans-serif;
}

body .container-fluid {
  padding-left: 5% !important;
  padding-right: 5% !important;
}

.pageHighlightBtn {
  font-family: "Sora", sans-serif;
  font-weight: bold !important;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-image: linear-gradient(45deg, #005bea, #00c6fb);
  color: white;
}

.cg-logo img {
  width: 200px;
}

@media (max-width: 991px) {
  .main-menu {
    display: none !important;
  }
}

@media (min-width: 992px) {
  #mobileMenu {
    display: none !important;
  }
}

.main-menu {
  padding-left: 5% !important;
  padding-right: 5% !important;
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  height: 80px;
  background-color: white !important;
}

.main-menu a {
  color: black !important;
  text-transform: uppercase !important;
  font-weight: 500 !important;
  font-size: 16px;
  font-family: "Sora", sans-serif;
}

.main-menu .signup-btn {
  background-color: transparent;
  border-radius: 8px;
  border: 1.5px solid #037cf1;
  color: #037cf1;
  padding: 10px 15px 10px 15px !important;
}

.main-menu .sign-in {
  font-weight: 800 !important;
}

.main-menu .highlight-btn {
  background-image: linear-gradient(45deg, #005bea, #00c6fb);
  color: white !important;
  border-radius: 8px;
  padding: 10px 15px 10px 15px !important;
}

.main-menu button {
  text-transform: uppercase !important;
  font-weight: 600 !important;
  font-size: 16px;
  font-family: "Sora", sans-serif;
}

.main-menu .fa-bars {
  color: #313E99;
}

#mobileMenu {
  padding-left: 5% !important;
  padding-right: 5% !important;
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  background-color: white !important;
}

#mobileMenu .fa-bars {
  color: #313E99;
}

#mobileMenu a {
  color: black !important;
  text-transform: uppercase !important;
  font-weight: 500 !important;
  font-size: 16px;
  font-family: "Sora", sans-serif;
}

#mobileMenu .signup-btn {
  background-color: transparent;
  border-radius: 8px;
  border: 2px solid #037cf1;
  color: #037cf1;
}

#mobileMenu .sign-in {
  font-weight: 800 !important;
}

#mobileMenu .highlight-btn {
  background-image: linear-gradient(45deg, #005bea, #00c6fb);
  color: white !important;
  border-radius: 8px;
}

#mobileMenu button {
  text-transform: uppercase !important;
  font-weight: 600 !important;
  font-size: 16px;
  font-family: "Sora", sans-serif;
}

#mobileMenu #searchBarMobile {
  position: relative;
  overflow-x: visible !important;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 9 !important;
}

#mobileMenu #searchBarMobile #searchIconGroup {
  cursor: pointer;
}

#mobileMenu #searchBarMobile #searchIconGroup .fa-search {
  color: #037cf1;
}

#mobileMenu .search-box {
  border: 1.5px solid #037cf1;
  padding: 5px;
  border-radius: 50px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#mobileMenu .input-group input {
  border-radius: 50px !important;
  outline: none;
  border: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-size: 15px;
  font-family: "Sora", sans-serif;
}

#mobileMenu .input-group input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#mobileMenu .input-group-append span {
  border-radius: 50px !important;
  border: none;
  outline: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 999;
  background-image: linear-gradient(45deg, #005bea, #00c6fb);
  color: white;
}

#mobileMenu .search-form {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  z-index: 999;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 80%;
}

@media (max-width: 991px) {
  .secondary-menu {
    display: none !important;
  }
}

.secondary-menu {
  padding-left: 5% !important;
  padding-right: 5% !important;
  background-color: white;
}

.secondary-menu .highlight-btn {
  background-image: linear-gradient(45deg, #005bea, #00c6fb);
  color: white !important;
  border-radius: 8px;
  font-size: 16px;
  font-family: "Sora", sans-serif;
  text-transform: uppercase !important;
}

.secondary-menu a {
  color: black !important;
  text-transform: uppercase !important;
  font-weight: 600 !important;
  font-size: 15px;
  font-family: "Sora", sans-serif;
}

.secondary-menu .contact-btn {
  background-color: transparent;
  border-radius: 8px;
  border: 2px solid #037cf1;
  color: #037cf1;
  text-transform: uppercase !important;
  font-weight: 600 !important;
  font-size: 15px;
  font-family: "Sora", sans-serif;
}

.secondary-menu input {
  font-family: "Sora", sans-serif;
  width: 350px !important;
  border: 1.5px solid #037cf1;
  border-radius: 8px;
}

.secondary-menu .input-group-text {
  background-image: linear-gradient(45deg, #005bea, #00c6fb);
  color: white;
  border: 1.5px solid #037cf1;
  border-radius: 8px;
}

footer {
  background-color: #e4e2e3;
  padding-left: 5% !important;
  padding-right: 5% !important;
}

#footerRow p {
  font-size: 14px !important;
}

#footerRow a {
  font-family: "Sora", sans-serif;
  font-size: 14px;
  color: black;
}

@media (max-width: 767px) {
  #footerRow #footerCredsDesktop {
    display: none;
  }
}

@media (min-width: 768px) {
  #footerRow #footerCredsMobile {
    display: none;
  }
}

#footerRow hr {
  border-top: 1px solid #b7b7b7;
}

@media (max-width: 575px) {
  #offerSlide {
    background-image: linear-gradient(140deg, #0660f1 50%, White 50.5%) !important;
  }
}

#offerSlide {
  background-image: linear-gradient(110deg, #0660f1 50%, White 50.5%);
}

#offerSlide .offer-block {
  color: white !important;
}

#offerSlide .offer-block p {
  color: white !important;
  text-transform: uppercase;
  font-weight: 600;
}

#offerSlide .offer-block small {
  text-transform: uppercase;
  font-family: "Sora", sans-serif;
  font-size: 14px;
}

#offerSlide .offer-block h2 {
  font-weight: 300;
}

#offerSlide .offer-block .offer-btn {
  background-color: #FD6D02;
  color: white;
  text-transform: uppercase;
  font-family: "Sora", sans-serif;
  font-size: 14px;
}

#offerSlide img {
  width: 250px !important;
}

#offerSlide .benefits-block h2 {
  color: #066ff3;
  font-weight: 800;
}

#offerSlide .benefits-block h1 {
  color: #FD6D02;
}

#offerSlide .benefits-block h4 {
  background-image: linear-gradient(45deg, #005bea, #00c6fb);
  color: white;
  padding: 5px 0px 5px 0px !important;
}

#offerSlide .benefits-block small {
  text-transform: uppercase;
  font-family: "Sora", sans-serif;
  font-size: 14px;
}

#landingSlide1 {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.4))), url(/img/slider04.jpg);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url(/img/slider04.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  color: white;
  height: auto;
  width: 100% !important;
}

#landingSlide1 p {
  color: white;
}

#landingSlide2 {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.4))), url(/img/slider01.jpg);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url(/img/slider01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
  color: white;
  height: auto;
  width: 100% !important;
}

#landingSlide2 p {
  color: white;
}

#landingSlider img {
  width: 150px;
}

@media (min-width: 992px) {
  #landingSlider a .left-icon {
    margin-left: -40px;
  }
  #landingSlider a .right-icon {
    margin-right: -40px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #landingSlider a .left-icon {
    margin-left: -20px;
  }
  #landingSlider a .right-icon {
    margin-right: -20px;
  }
}

#landingSlider a span .fas {
  color: white;
  font-size: 24px;
  border: 3px solid rgba(255, 255, 255, 0.7);
  border-radius: 50px;
}

#landingSlider .slider-btn {
  color: black;
  font-family: "Sora", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 8px;
}

#googleReviews {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#videoTestimonials {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@media (max-width: 767px) {
  #reviewSliderDesktop {
    display: none !important;
  }
  #videoSliderDesktop {
    display: none !important;
  }
}

@media (min-width: 768px) {
  #reviewSliderMobile {
    display: none !important;
  }
  #videoSliderMobile {
    display: none !important;
  }
}

#testimonialSection li {
  border: 1.5px solid #037cf1;
}

#testimonialSection li .active {
  background-image: linear-gradient(45deg, #005bea, #00c6fb);
  color: white;
}

#testimonialSection li a {
  border-radius: 0px;
}

#testimonialSection .card {
  height: 250px;
}

.review-card {
  background-color: #fefcfd;
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  border-radius: 20px !important;
}

.review-video {
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  border-radius: 20px !important;
}

#reviewSliderDesktop .carousel-indicators li {
  border: 1px solid #037cf1;
  width: 10px;
  height: 10px;
  border-radius: 5px !important;
}

#reviewSliderDesktop .carousel-indicators .active {
  background: #037cf1 !important;
}

#reviewSliderMobile .carousel-indicators li {
  border: 1px solid #037cf1;
  width: 10px;
  height: 10px;
  border-radius: 5px !important;
}

#reviewSliderMobile .carousel-indicators .active {
  background: #037cf1 !important;
}

#reviewSliderMobile a span .fas {
  color: #037cf1 !important;
  font-size: 22px;
}

#videoSliderDesktop .carousel-indicators li {
  border: 1px solid #037cf1;
  width: 10px;
  height: 10px;
  border-radius: 5px !important;
}

#videoSliderDesktop .carousel-indicators .active {
  background: #037cf1 !important;
}

#videoSliderMobile .carousel-indicators li {
  border: 1px solid #037cf1;
  width: 10px;
  height: 10px;
  border-radius: 5px !important;
}

#videoSliderMobile .carousel-indicators .active {
  background: #037cf1 !important;
}

#videoSliderMobile a span .fas {
  color: f7f7f7;
  font-size: 22px;
}

#reviewMetrics img {
  width: 50px;
}

#trendingCertification .project-card {
  border-radius: 10px !important;
}

#trendingCertification .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  background-color: black;
  z-index: 2 !important;
}

#trendingCertification .card:hover .overlay {
  opacity: 1;
}

#trendingCertification .text {
  color: white !important;
  font-size: 20px;
  position: absolute;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

#trendingCertification .text p {
  color: white;
}

#trendingCertification .text hr {
  border-top: 2px solid white;
}

#trendingCertification .text .view-details-btn {
  width: 100% !important;
  background-color: transparent;
  border: 2px solid white;
  color: white;
}

#trendingCertification .card-header {
  height: 180px;
  color: white;
}

#trendingCertification h5 {
  font-size: 28px;
}

#trendingCertification .card {
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

#trendingCertification .card-body {
  background-color: #fafafa;
}

#trendingCertification .cert1 .card-header {
  background-color: #a18cd1 !important;
}

#trendingCertification .cert2 .card-header {
  background-color: #5e98f9 !important;
}

#trendingCertification .cert3 .card-header {
  background-color: #d299c2 !important;
}

#trendingCertification .cert4 .card-header {
  background-color: #1cb8da !important;
}

.fa-chevron-circle-left {
  color: white !important;
  font-size: 40px;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
  margin-bottom: 40px;
}

.fa-chevron-circle-right {
  color: white !important;
  font-size: 40px;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
  margin-bottom: 40px;
}

@media (min-width: 576px) {
  #carouselControlsMobile {
    display: none !important;
  }
}

@media (max-width: 575px) {
  #trendingCertDesktop {
    display: none !important;
  }
}

#whyCodegnan .cg-metrics {
  border: 4px solid;
  border-image-source: linear-gradient(45deg, #005bea, #00c6fb);
  border-image-slice: 1;
}

#whyCodegnan .cg-metrics h2 {
  font-size: 38px;
  color: #0855ef;
}

#whyCodegnan .cg-metrics p {
  text-transform: uppercase;
  font-weight: 600;
}

#studentJourney img {
  width: 80%;
}
/*# sourceMappingURL=home-style.css.map */