<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>CodeGnan</title>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
<script src="js/jquery-3.4.1.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" type="text/css" media="all" href="css/style.css">
</style>
</head>

<body>
<header>
  <div class="container-fluid"> 
    <!--Navbar -->
    <nav class="mb-1 navbar  navbar-expand-lg navbar-dark info-color p-0"> <a class="navbar-brand fade-page p-0" href="index.html"> <img class="p-0 m-0" src="images/logo.jpg" alt="CodeGnan" width="200"> </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
    aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"><i class="fa fa-bars" aria-hidden="true"></i></span> </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
        <ul class="navbar-nav ml-auto">
          <!--<li class="nav-item"> <a href="#" class="nav-link">home</a> </li>
          <li class="nav-item"> <a href="#" class="nav-link">About us</a> </li>-->
          <li class="nav-item dropdown"> <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">All Courses</a>
            <div class="dropdown-menu">
				<a class="dropdown-item" href="#">Sample Course1</a>
				<a class="dropdown-item" href="#">Sample Course2</a>
				<a class="dropdown-item" href="#">Sample Course3</a>
              <a class="dropdown#" class="btn btn-light ml-lg-3 font-weight-bold text-black" style="line-height:normal">ENROLL NOW</a> </div>
    </nav>
  </div>
</header>
<div class="container mt-3 second-fold">
  <nav class="navbar navbar-expand-lg navbar-light w-100 p-0 m-0">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"> <span class="input-group-text " id="basic-text1"><i class="fa fa-search text-grey"
        aria-hidden="true"></i></span> </button>
    <div class="collapse navbar-collapse w-100" id="navbarNavAltMarkup">
      <div class="navbar-nav w-100">
        <div class="row w-100 m-auto">
          <div class="col-md-3 pl-0">
            <select class="browser-default custom-select">
              <option selected>All Courses</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <div class="col-md-5">
            <div class="input-group md-form form-sm form-2 pl-0">
              <input class="form-control my-0 py-1" type="text" placeholder="Search for courses" aria-label="Search">
              <div class="input-group-append"> <span class="input-group-text " id="basic-text1"><i class="fa fa-search text-grey"
        aria-hidden="true"></i></span> </div>
            </div>
          </div>
          <div class="col-md-2">
            <p class="text-danger text-right"><small>Talk to our
              Education Counsellor
              and choose right course</small></p>
          </div>
          <div class="col-md-2 pr-0 contact-btn"> <a href="#" class="btn btn-primary text-uppercase font-weight-bold w-100">Contact us now</a> </div>
        </div>
      </div>
    </div>
  </nav>
</div>
<div class="container pt-3">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Blogs</a></li>
      <li class="breadcrumb-item"><a href="#">Category</a></li>
      <li class="breadcrumb-item active" aria-current="page">Data Science</li>
    </ol>
  </nav>
  <h3 class="pb-3 pt-3 text-uppercase">Category: Data Science</h3>
  <div class="row latest-blog">
    <div class="col-md-8 latest-blog-div position-relative mb-4">
      <div class="single-blog mb-5">
        <div class="blog-img"><img src="images/couses-img.jpg" width="100%"></div>
        <div class="blog-related-cont">
          <h3 class="mt-4 pb-3 text-uppercase">Who are Data Analysts? How Codegnan helps you to become one? What is the average salary of Data Analyst?</h3>
          <p> Data analysts are those analysts whose work is to translate figures from complex English to normal English. Every trade, business, company or organization gathers data and information that would include sales, profits, losses, logistics, transportation costs, equities, dividends, liabilities, assets or any data dealing with figures.</p>
          <p><a href="#">Learn More »</a></p>
        </div>
      </div>
      <div class="single-blog mb-5">
        <div class="blog-img"><img src="images/couses-img.jpg" width="100%"></div>
        <div class="blog-related-cont">
          <h3 class="mt-4 pb-3 text-uppercase">Who are Data Analysts? How Codegnan helps you to become one? What is the average salary of Data Analyst?</h3>
          <p> Data analysts are those analysts whose work is to translate figures from complex English to normal English. Every trade, business, company or organization gathers data and information that would include sales, profits, losses, logistics, transportation costs, equities, dividends, liabilities, assets or any data dealing with figures.</p>
          <p><a href="#">Learn More »</a></p>
        </div>
      </div>
      <div class="single-blog mb-5">
        <div class="blog-img"><img src="images/couses-img.jpg" width="100%"></div>
        <div class="blog-related-cont">
          <h3 class="mt-4 pb-3 text-uppercase">Who are Data Analysts? How Codegnan helps you to become one? What is the average salary of Data Analyst?</h3>
          <p> Data analysts are those analysts whose work is to translate figures from complex English to normal English. Every trade, business, company or organization gathers data and information that would include sales, profits, losses, logistics, transportation costs, equities, dividends, liabilities, assets or any data dealing with figures.</p>
          <p><a href="#">Learn More »</a></p>
        </div>
      </div>
      <div class="mb-5">
        <nav aria-label="Page navigation">
          <ul class="pagination justify-content-center" id="home_qa_pagination">
            <li class="page-item"><a href="#" class="page-link" data-ci-pagination-page="1" rel="start">‹ First</a></li>
            <li class="page-item"><a href="/5" class="page-link" data-ci-pagination-page="5" rel="prev">Previous</a></li>
            <li class="page-item active"><a href="#" class="page-link">3</a></li>
            <li class="page-item"><a href="/7" class="page-link" data-ci-pagination-page="3" rel="next">Next</a></li>
            <li class="page-item"><a href="/10" class="page-link" data-ci-pagination-page="10">Last ›</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box-content p-4 bg-light border mb-4">
        <h3 class="gradient-text text-uppercase">Want to Become Data Scientist in 4 months?</h3>
        <p>Codegnan helps you to become one, Enroll now and start One on One Live sessions.</p>
        <p> Get Microsoft Technology Associate and HPE Certificate after successful completion of Exams </p>
        <div class="gradient p-3 rounded">
          <input type="text" class="form-control mb-2" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name *">
          <input type="email" class="form-control mb-2" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="eMail *">
          <a href="#" class="btn btn-light w-100"><strong>ENROLL NOW</strong></a> </div>
      </div>
      <div class="box-content p-4 bg-light border mb-4">
        <h3 class="gradient-text text-uppercase">Free Webinars</h3>
        <p>Webinars are always part of our community. Attend regular webinars and gain knowledege from us</p>
        <a href="#" class="btn btn-primary text-uppercase w-100">Learn more</a> </div>
      <div class="box-content p-4 bg-light border mb-4">
        <h3 class="gradient-text text-uppercase">Categories</h3>
        <ul class="pl-3 category">
          <li><a href="#">Data Science</a></li>
          <li><a href="#">Python</a></li>
          <li><a href="#">Machine Learning</a></li>
          <li><a href="#">Java</a></li>
          <li><a href="#">Web Technologies</a></li>
          <li><a href="#">Deep Learning</a></li>
        </ul>
      </div>
      <div class="box-content p-4 bg-light border mb-4">
        <h3 class="gradient-text text-uppercase">Popular Courses</h3>
        <ul class="pl-3 category">
          <li><a href="#">Data Science</a></li>
          <li><a href="#">Python</a></li>
          <li><a href="#">Machine Learning</a></li>
          <li><a href="#">Java</a></li>
          <li><a href="#">Web Technologies</a></li>
          <li><a href="#">Deep Learning</a></li>
        </ul>
      </div>
      <div class="box-content p-4 bg-light border mb-4">
        <h3 class="gradient-text text-uppercase">Join Codegnan to Learn Popular Technologies</h3>
        <div class="mt-4 mb-4"><img src="images/courses-smal-icons.png" width="100%"></div>
        <p class="text-uppercase mb-3 h-heading"><strong>Get Certified From</strong></p>
        <div class="row mb-4 certified-logos">
          <div class="col-md-6"><img src="images/microsoft-part.png" width="100%"></div>
          <div class="col-md-6"><img src="images/hp-part.png" width="100%"></div>
        </div>
        <div class="m-auto w-75 text-center"><a href="#" class="btn btn-primary font-weight-bold rounded mb-4">Online or Offline</a></div>
        <div class="gradient p-3 rounded">
          <input type="text" class="form-control mb-2" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name *">
          <input type="email" class="form-control mb-2" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="eMail *">
          <select class="form-control mb-2" id="exampleFormControlSelect1">
            <option>Choose you Course</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
          <a href="#" class="btn btn-light w-100"><strong>ENROLL NOW</strong></a> </div>
      </div>
    </div>
  </div>
</div>
<div class="footer-div gradient p-5">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-4"> <img src="images/fologo.png" width="60%" alt="codegnan">
        <p class="text-white mt-3 mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam imperdiet arcu justo, mattis semper sem tempor non.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h6 class="text-white text-uppercase">Popular Courses</h6>
        <ul>
          <li><a href="#">Python Training in VIjayawada</a></li>
          <li><a href="#">Data Science Training in VIjayawada</a></li>
          <li><a href="#">Machine Learning Training in Vijayawada</a></li>
          <li><a href="#">Django training in Vijayawada</a></li>
          <li><a href="#">Web Technologies Training in VIjayawada</a></li>
          <li><a href="#">Computer Vision Training in VIjayawada</a></li>
          <li><a href="#">Internet of Things Training in Vijayawada</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h6 class="text-white text-uppercase">Certifications</h6>
        <ul>
          <li><a href="#">Python Online Certification </a></li>
          <li><a href="#">Data Science Online Certification </a></li>
          <li><a href="#">Machine Learning Online Certification </a></li>
          <li><a href="#">Django Online Certification </a></li>
          <li><a href="#">Web Technologies Online Certification </a></li>
          <li><a href="#">Computer Vision Online Certification </a></li>
          <li><a href="#">Internet of Things Online Certification </a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h6 class="text-white text-uppercase">Resources</h6>
        <ul>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Tutorials</a></li>
          <li><a href="#">Our Comunity</a></li>
          <li><a href="#">Python Tutorials</a></li>
          <li><a href="#">HTML, CSS, JS Tutorials</a></li>
          <li><a href="#">About us</a></li>
        </ul>
      </div>
      <div class="col-md-2 position-relative">
        <div class="whatsApp">We are here to help <i class="fa fa-whatsapp" aria-hidden="true"></i></div>
      </div>
    </div>
    <div class="row border-top mt-5 pt-5 pb-3">
      <div class="col-md-10 text-white"> <small>Copyrights Reserved. Codegnan It Solutions OPC PVT. LTD. <a class="text-white" href="#">Privacy Policy</a> | <a class="text-white" href="#">Terms and Conditions</a></small> </div>
      <div class="col-md-2 social"> <a class="btn-floating btn-lg btn-fb" type="button" role="button" href="#"><i class="fa fa-facebook-f"></i></a> <a class="btn-floating btn-lg btn-ins" type="button" role="button" href="#"><i class="fa fa-instagram"></i></a> <a class="btn-floating btn-lg btn-yt" type="button" role="button" href="#"><i class="fa fa-youtube"></i></a> </div>
    </div>
  </div>
</div>
<div class="mobile-contact-btn"> <a href="#" class="btn btn-primary text-uppercase font-weight-bold w-100">Contact us now</a> </div>
<div id="back-top"> <a href="#top"><span><i class="fa fa-arrow-up" aria-hidden="true"> </i> </span></a> </div>
<script>
$('.carousel').carousel({
  interval: 5000
})
</script> 
<script type="text/javascript">
$top = jQuery.noConflict();
    $top(function () {

	// hide #back-top first
	$top("#back-top").hide();
	
	// fade in #back-top
	$top(function () {
		$top(window).scroll(function () {
			if ($top(this).scrollTop() > 100) {
				$top('#back-top').fadeIn();
			} else {
				$top('#back-top').fadeOut();
			}
		});

		// scroll body to 0px on click
		$top('#back-top a').click(function () {
			$top('body,html').animate({
				scrollTop: 0
			}, 800);
			return false;
		});
	});

});
</script>
</body>
</html>
